KLAVIYO_PRIVATE_KEY=pk_...
KLAVIYO_V3_URL=a.klaviyo.com/api
METRIC_ID_ATC=AAAAAA
METRIC_ID_VIEWED_PRODUCT=AAAAAA
M2_BASE_URL=https://www.example.com
M2_ADMIN_USERNAME=someone@example.com
M2_ADMIN_PASSWORD=astrongpassword