KLAVIYO_PRIVATE_KEY=pk_...
KLAVIYO_V3_URL=a.klaviyo.com/api
METRIC_ID_ACCOUNT_CREATED=AAAAAA
METRIC_ID_PLACED_ORDER_TRANSACTIONAL=AAAAAA
METRIC_ID_BIS=AAAAAA
M2_BASE_URL=https://www.example.com
M2_BO_USERNAME=someone@example.com
M2_BO_PASSWORD=astrongpassword