<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Customer\CustomerData\Customer">
        <plugin name="Klaviyo_Reclaim::customerData" type="Klaviyo\Reclaim\Plugin\Customer\Model\CustomerData" />
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="custom-checkout" type="Klaviyo\Reclaim\Plugin\CheckoutLayoutPlugin" sortOrder="10"/>
    </type>
</config>
