<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="config_data_save_before">
        <observer name="klaviyo_reclaim" instance="Klaviyo\Reclaim\Observer\PrivateApiKeyObserver" />
    </event>
    <event name="catalog_product_delete_before">
        <observer name="klaviyo_reclaim" instance="Klaviyo\Reclaim\Observer\ProductDeleteBefore" />
    </event>
    <event name="admin_system_config_changed_section_klaviyo_reclaim_oauth">
        <observer name="custom_admin_system_config_changed_section_klaviyo_reclaim_oauth" instance="Klaviyo\Reclaim\Observer\KlaviyoOAuthObserver"/>
    </event>
</config>
